<body class="bg-light m-0 text-dark overflow-hidden">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-6 bg-dark vh-100 d-none d-lg-block p-0">
            <div class="bgImg imgA bg-image"></div>
        </div>
        <div class="col">
            <a href="/"><img src="/img/brand/K_dark.png" alt="Logotipo Klouts" style="width: 64px;"
                    class="position-relative start-50 translate-middle"></a>
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="row justify-content-center">
                    <div class="col-6">
                        <div class="mb-3 text-center">
                            <h1 class="text-uppercase">Inicio de sesión</h1>
                            <p class="d-none d-md-block lead text-muted">Encontrar la vestimenta que buscabas nunca fue
                                tan fácil y rápido como ahora</p>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="email" class="form-control" id="validationCustom01" name="mail"
                                placeholder="name@example.com" value="{{mail}}" required autofocus>
                            <label for="mail">E-mail</label>
                        </div>
                        <div class="mb-3 form-floating">
                            <input type="password" class="form-control rounded-0" id="pass" name="pass"
                                placeholder="Password" value="{{pass}}" required>
                            <label for="pass">Contraseña</label>
                        </div>
                        <div class="mb-3 d-grid gap-2">
                            <button type="submit" class="text-uppercase rounded-0 btn btn-dark">Iniciar sesión</button>
                        </div>
                        {{#if message }}
                        <div class="d-flex justify-content-center">
                            <div class="alert alert-danger" role="alert" style="width: 70%;">
                                <p class="text-danger text-center mt-1 fw-bold">{{message}}</p>
                                <i class="fas fa-exclamation-triangle d-flex justify-content-center"
                                    style="font-size: 30px;"></i>
                            </div>
                        </div>
                        {{/if}}
                        <div class="mb-3">
                            <div class="row justify-content-center">
                                <div class="col-auto">
                                    ¿No tienes cuenta? <a href="/register" class="link-info">Registrate aquí</a>
                                </div>
                                <div class="col-auto">
                                    <div class="form-check check-dark">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
</body>