<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Mantente conectado en nuestras redes:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Klouts
          </h6>
          <p>
            Estamos aquí para que ahorres tiempo buscando ropa que no sabes si te va a quedar ;)
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contenido
          </h6>
          <p>
            <a href="/views/partials/products.hbs" class="text-reset">Productos</a>
          </p>
          <p>
            <a href="/views/profile/profile.hbs" class="text-reset">Perfil</a>
          </p>
        </div>
        <!-- Grid column -->

        {{#ifCond user.data.tipo '==' 'empresa'}}
        <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  
                </h6>
                <p>
                  <a href="/admin/resetIncremental" class="text-reset">Reset incremental</a>
                </p>
                <p>
                  <a href="/admin/genaratePublication" class="text-reset">Generate publication</a>
                </p>
                <p>
                  <a href="/admin/deleteGeneric" class="text-reset">Delete generics</a>
                </p>
                <p>
                  <a href="/admin/deleteGenericAll" class="text-reset">Delete all generics</a>
                </p>
              </div>
        <!-- Grid column -->
        {{/ifCond}}

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contactos
          </h6>
          <p><i class="fas fa-home me-3"></i> Río Negro, Young</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            Klouts@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> 092 776 255</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
</footer>
<!-- Footer -->