{{#if user }}
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
{{else}}
<nav class="navbar navbar-expand-md navbar-light bg-light">
{{/if}}
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            {{#if user }}
                <img src="/img/brand/Klouts_light.png" width="120" height="34"></a>
            {{else}}
                <img src="/img/brand/Klouts_dark.png" width="120" height="34">
            {{/if}}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                {{#if user }}
                    <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" href="/profile/edit/{{user.mail}}">Editar perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {{else}}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                {{/if}}

            </ul>

            {{!-- <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search"/>
                <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">Search</button>
            </form> --}}
            
        </div>
    </div>
</nav>