body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1f1f1;
}

.contenido{
    min-height: 100vh;
    display: grid;
}

.bloque{
    justify-content: center;
    align-items: center;
    display: flex;
}

.bloque2{
    display: block;
    text-align: center;
    padding: 15px;
    /* border: 3px solid #f1f1f1; */
}

.bloque2 h1,p{
    text-transform: uppercase;
    font-weight: 800;
    color:  #f1f1f1;
}

.formulario{
    display: flex;
}

.menu{
    justify-content: center;
    align-items: center;
    display: flex;
}

.opcion{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b0e0e;
    height: 100px;
    margin: 15px;
    width: 250px;
    border: none;
    border-radius: 4px;
}

.boton{
    text-decoration: none;
    padding: 5px 5px;
    height: auto;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    color: white;
}

.opcion:hover{
    color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
}

input{
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=text] {
    width: 80px;
}

input[type=submit] {
    background-image: url('calculator.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

input[name="btmSalir"]{
    background-image: url('exit.png');
}

select{
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input::placeholder{
    text-align: center;
}