<div class="d-flex justify-content-center mt-3">
   <div class="d-block text-center">
      <h1>ERROR 404</h1>
      <p>{{error}}</p>
      <a href="/">Volver a la página principal</a>
   </div>
</div>