{{>navigation}}
<body>
    <div class="container mt-5">
        <div class="row row-cols-lg-4 row-cols-sm-2 g-4">
            {{#if message }}
                <p class="text-danger text-center mt-1">{{message}}</p>
            {{/if}}
            {{>products}}
        </div>
        <h1 class="text-center">Nuestros patrocinadores</h1>
        <div class="d-flex justify-content-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active " data-bs-interval="5000">
                        <img src="/img/testing/aliex.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                    <div class="carousel-item " data-bs-interval="5000">
                        <img src="/img/testing/tiendamia.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                    <div class="carousel-item " data-bs-interval="5000">
                        <img src="/img/testing/mercado.jpg" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>