{{>navigation}}
<body>
    {{!-- BANNER --}}
    <section class="mb-5">
        <div style="min-height: 35vh; background-color: #fafafa;" class="jumbotron d-flex align-items-center">
            <div class="container text-center">
                <h1>Bienvenidos a Klouts</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt porro, repellendus officiis provident voluptatum repellat, magni at voluptates nostrum ut asperiores reprehenderit cupiditate quo quas exercitationem? Quod voluptatibus dicta veniam?</p>
                <div class="d-inline">
                    <a href="/search?newest=1&page=1"><button class="btn rounded-pill btn-outline-dark">Novedades</button></a>
                    <a href="#tiendas"><button class="btn rounded-pill btn-outline-dark" onclick="hello()">Tiendas oficiales</button></a>
                    <a href="/search?sale=1&page=1"><button class="btn rounded-pill btn-outline-danger">Mejores ofertas</button></a>
                    <a href="/search?top=1&page=1"><button class="btn rounded-pill btn-outline-primary">Popular</button></a>
                </div>
            </div>
        </div>
    </section>

    {{!-- CONTENT --}}
    <section class="container mb-5">
        <div class="row row-cols-lg-4 row-cols-sm-2 g-4">
            {{>products}}
        </div>
        <div class="my-5">
            <h1 class="text-center" id="tiendas">Tiendas oficiales</h1> <br>
            <div class="row row-cols-lg-4 row-cols-sm-2 g-4">
                {{>shops}}
            </div>
            {{!-- <h1 class="text-center" id="tiendas">Tiendas oficiales</h1> --}}
            {{!-- <div class="d-flex justify-content-center">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active " data-bs-interval="5000">
                            <img src="/img/testing/aliex.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                        </div>
                        <div class="carousel-item " data-bs-interval="5000">
                            <img src="/img/testing/tiendamia.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                        </div>
                        <div class="carousel-item " data-bs-interval="5000">
                            <img src="/img/testing/mercado.jpg" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>
    </section>

    {{!-- FOOTER --}}
    <section>
        {{>footer}}
    </section>
</body>
