{{>navigation}}
<body>
  <div id="mySidenav" class="sidenav">
  <button type="button" class="btn-close btn-close-white " aria-label="Close" onclick="closeNav()"></button>
  <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#a-collapse" aria-expanded="true">
         Vestimentas
        </button>
        <div class="collapse show" id="a-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Buzos</a></li>
            <li><a href="#" class="link-dark rounded">Camperas</a></li>
            <li><a href="#" class="link-dark rounded">Musculosas</a></li>
            <li><a href="#" class="link-dark rounded">Remeras</a></li>
            <li><a href="#" class="link-dark rounded">Tops</a></li>
          </ul>
        </div>
      </li>
  <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#b-collapse" aria-expanded="true">
          Ropa Interior
        </button>
        <div class="collapse show" id="b-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Camisetas</a></li>
            <li><a href="#" class="link-dark rounded">Bóxers</a></li>
            <li><a href="#" class="link-dark rounded">Reports</a></li>
          </ul>
        </div>
      </li>
  <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse" data-bs-target="#d-collapse" aria-expanded="true">
          Pantalones
        </button>
        <div class="collapse show" id="d-collapse">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Leggings</a></li>
            <li><a href="#" class="link-dark rounded">Jeans</a></li>
            <li><a href="#" class="link-dark rounded">Deportivos</a></li>
          </ul>
        </div>
      </li>
</div>
<span onclick="openNav()"><i style="font-size: 30px;" class="bi bi-list"></i></span>
          </ul>
        </div>
      </li>
    </ul>
</div>
<div class="content">
    <div class="container mt-5">
        <div class="row row-cols-lg-5 row-cols-sm-2 g-4">
            {{#if message }}
                <p class="text-danger text-center mt-1">{{message}}</p>
            {{/if}}
            {{>products}}
        </div>
        <h1 class="text-center">Nuestros patrocinadores</h1>
        <div class="d-flex justify-content-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active " data-bs-interval="5000">
                        <img src="/img/testing/aliex.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                    <div class="carousel-item " data-bs-interval="5000">
                        <img src="/img/testing/tiendamia.png" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                    <div class="carousel-item " data-bs-interval="5000">
                        <img src="/img/testing/mercado.jpg" class="d-block w-50 mx-auto" alt="/img/testing/aliex.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>