<%-include("template/header", {title:'Página Principal'}) %>
<body>
  <%- include("template/nav") %>
      <h2>Su perfil</h2>
      <a type="input" href="/user/profile/edit">Editar perfil</a>
      <%- include("template/footer") %>
