<%-include("template/header", {title:'Registro de empresa'}) %>
<body style="background-color: #343a40;">
  
  <%- include("template/nav") %>

  <div class="position-absolute top-50 start-50 translate-middle"> <br> <br> <br> <br>
    <div class="d-inline-flex p-2 bd-highlight">
      <div class="card mb-5" style="max-width: 700px;">
        <div class="row g-0">
          <div class="col-md-4" style="background-color: #dee2e6;"> <br> <br> <br> <br> <br> <br> <br>
            <img src="/img/loginregister.svg" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
      <div class="card-body">
    <form method="post" action="/registerEmpresa">
        <h5>Completa los datos de tu Empresa</h5>
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
          <label for="mailEmpresa" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="mailEmpresa" name="mailEmpresa" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Tu información no será compartida con nadie.</div>
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Clave</label>
          <input type="password" class="form-control" id="pass" name="pass">
        </div>
            <div class="mb-3">
                <label for="razon" class="form-label">Razón social</label>
                <input type="text" class="form-control" id="razon" name="razon">
              </div> 
              <div class="mb-3"> 
                <label for="rut" class="form-label">RUT</label> 
                <input type="number" class="form-control" id="rut" name="rut">
              </div>
        <div class="mb-3">
          <p>¿Ya tienes una cuenta? <a href="/login" class="link-info">Ingresa aquí</a></p>
          <div class="d-grid gap-2">
            <button type="submit" class="text-uppercase btn btn-dark">Registrar empresa</button>
          </div>
      </form>
      <% if(typeof alert !='undefined'){ %>
        <% alert.forEach((error)=>{ %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong><%= error.msg %></strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <% } ) %>
      <% } %>

<%- include("template/footer") %>