<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="css/style.css">
    
    <title>Register</title>
</head>
<body>
      <div class="login-container">
          <div class="login-info-container">
            <h1 class="title">Registro de Cuenta</h1>
            <div class="social-login">

            </div>
            <p>¿Ya tienes una cuenta? <a href="/login" class="span">Ingresa Aquí</a></p>
            <p>¿Eres una empresa? <a href="/registerEmpresa" class="span">Registrar empresa</a></p>
            <form class="inputs-container" action="/register" method="POST">
                <input class="input" type="text" name="name" id="name" placeholder="Nombre completo">
                <input class="input" type="text" id="user" name="user" placeholder="Usuario">
                <input class="input" type="password" id="pass" name="pass" placeholder="Contraseña">
                <button class="btn" type="submit">Registrarse</button>
               
            </form>
          </div>
            <img class="image-container" src="img/login.svg" alt="">
      </div>
</body>
</html>