{{>navigation}}

<body>
    <div class="container mt-5">
        <div class="row row-cols-lg-4 row-cols-sm-2 g-4">
            {{#if message}}
                <p class="text-secondary">No hay coincidencias con la búsqueda</p>
            {{/if}}
            {{>products}}
        </div>
    </div>
</body>