/* input.form-control { 
    background-color:rgba(0,0,0,0) !important;
    border:solid 1px white !important;
}

.form-control {
   background-color: rgba(0, 0, 0, 0);
   border:solid 1px white;
}

.form-control {
    opacity: 1;
    color: #dae0e5 !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.text-area {
    resize: none;
 }

.imgbox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
}
.imgbox img {
    display: block; /* no whitespace */
    transition: .5s ease-in-out;
}
.imgbox:hover img {
    transform: scale(1.1);
}

/* * {
    border-radius: 0 !important;
    border: 0px;
} */

.link-unstyled {
    text-decoration: none;
    color: inherit;
}
.link-unstyled:hover {
    text-decoration: none;
    color: inherit;
}

.btn-circle {
    border-radius: 50% !important;
    text-align: center;
    font-size: 12px;
}

.product-color.color-yellow{
    background-color: rgb(245, 245, 0);
}

.imgA {
    background: url("../img/bgImg.jpg") no-repeat;
}

.imgB {
    background: url("../img/bgImgUser.jpg") no-repeat;
}

.imgC {
    background: url("../img/bgImgCommerce.jpg") no-repeat;
}

.bgImg {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*:focus { 
outline: 0 !important;
box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}

*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}