@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.s{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

textarea {
    resize: none !important;
}

/* SACAR FLECHAS EN INPUT NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* SACAR FLECHAS EN INPUT NUMBER */

.montserrat{
    font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
}

* {
    border-radius: 0% !important;
}

.btn.custom {
    width: 78px !important;
}

.carattere {
    font-family: 'Carattere', cursive !important;
    font-size: 150%;
}

p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px; 
}

.f-space-1{
    letter-spacing: 1px; 
}
.f-space-2{
    letter-spacing: 2px; 
}
.f-space-3{
    letter-spacing: 3px; 
}
.f-space-4{
    letter-spacing: 4px; 
}
.f-space-5{
    letter-spacing: 5px; 
}

.text-area {
    resize: none;
 }

.imgbox {
    /* shrink wrap to image */
    /* display: inline-block; */
    /* hide the excess */
    overflow: hidden;
}
.imgbox img {
    display: block; /* no whitespace */
    object-fit: cover;
    transition: .5s ease-in-out;
    height: 420px;
}
.imgbox:hover img {
    transform: scale(1.1);
}

.link-unstyled {
    text-decoration: none;
    color: inherit;
}
.link-unstyled:hover {
    text-decoration: none;
    color: inherit;
}

.btn-circle {
    border-radius: 50% !important;
    text-align: center;
    font-size: 12px;
}

.product-color.color-azul{
    background-color: rgb(65, 44, 255);
}

.product-color.color-blanco{
    background-color: rgb(235, 235, 235);
}
.product-color.color-negro{
    background-color: rgb(20, 20, 20);
}
.product-color.color-rojo{
    background-color: rgb(231, 31, 31);
}

.imgA {
    background: url("../img/bgImg.jpg") no-repeat;
}

.imgB {
    background: url("../img/bgImgUser.jpg") no-repeat;
}

.imgC {
    background: url("../img/bgImgCommerce.jpg") no-repeat;
}

.bgImg {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*:focus { 
outline: 0 !important;
box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}

*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.input-search{
    border-style: none;
    width: max-content;
    padding: 5px;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    color:#fff;
}

.search-box{
    width: 300px;
    border-radius: 0px;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
thead    {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
} 
.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}
