/* input.form-control { 
    background-color:rgba(0,0,0,0) !important;
    border:solid 1px white !important;
}

.form-control {
   background-color: rgba(0, 0, 0, 0);
   border:solid 1px white;
}

.form-control {
    opacity: 1;
    color: #dae0e5 !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.montserrat{
    font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif !important;
    text-transform: uppercase;
}

* {
    border-radius: 0% !important;
}

.btn.custom {
    width: 78px !important;
}

.carattere {
    font-family: 'Carattere', cursive !important;
    font-size: 150%;
}

p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px; 
}

.f-space-1{
    letter-spacing: 1px; 
}
.f-space-2{
    letter-spacing: 2px; 
}
.f-space-3{
    letter-spacing: 3px; 
}
.f-space-4{
    letter-spacing: 4px; 
}
.f-space-5{
    letter-spacing: 5px; 
}

.text-area {
    resize: none;
 }

.imgbox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
}
.imgbox img {
    display: block; /* no whitespace */
    transition: .5s ease-in-out;
}
.imgbox:hover img {
    transform: scale(1.1);
}

/* * {
    border-radius: 0 !important;
    border: 0px;
} */

.link-unstyled {
    text-decoration: none;
    color: inherit;
}
.link-unstyled:hover {
    text-decoration: none;
    color: inherit;
}

.btn-circle {
    border-radius: 50% !important;
    text-align: center;
    font-size: 12px;
}

.product-color.color-yellow{
    background-color: rgb(245, 245, 0);
}

.imgA {
    background: url("../img/bgImg.jpg") no-repeat;
}

.imgB {
    background: url("../img/bgImgUser.jpg") no-repeat;
}

.imgC {
    background: url("../img/bgImgCommerce.jpg") no-repeat;
}

.bgImg {
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*:focus { 
outline: 0 !important;
box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}

*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}