{{>navigation}}

<form method="post" action="">

    <input class="form-control" name="price" id="price" type="text" placeholder="Precio">
    <input class="form-control" name="title" id="title" type="text" placeholder="Titulo">
    <textarea class="form-control" name="description" id="description" placeholder="Descripción"></textarea>
    {{!-- <input class="form-control" value="" name="" id="" type="text" placeholder=""> --}}
    <select class="form-select" name="category" id="category">
        <option value="0">Categoria</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
        <option value="5">Opción 5</option>
    </select>
    <select class="form-select" name="subCategory" id="subCategory">
        <option value="0">Sub-categoria</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
        <option value="5">Opción 5</option>
    </select>
    <select class="form-select" name="genre" id="genre">
        <option value="0">Género</option>
        <option value="1">Hombre</option>
        <option value="2">Mujer</option>
        <option value="3">Unisex</option>
    </select>
    <select class="form-select" name="material" id="material">
        <option value="0">Material</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
        <option value="5">Opción 5</option>
    </select>
    <select class="form-select" name="brand" id="brand">
        <option value="0">Marcas</option>
        <option value="1">Opción 1</option>
        <option value="2">Opción 2</option>
        <option value="3">Opción 3</option>
        <option value="4">Opción 4</option>
        <option value="5">Opción 5</option>
    </select>
    <button type="submit" class="btn btn-success">ENVIAR</button>
</form>

{{>footer}}