{{>navigation}}

<body>
    
    <section class="container my-4">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/testing/item1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/testing/item3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/testing/item1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 my-3">
                <div class="p-3">
                    <header>
                        {{!-- <div class="mb-2">
                            <span class="badge bg-dark">
                                <a href="#busqueda" class="link-unstyled">Primary</a>
                            </span>
                            <span class="badge bg-dark">
                                <a href="#busqueda" class="link-unstyled">Primary</a>
                            </span>
                            <span class="badge bg-dark">
                                <a href="#busqueda" class="link-unstyled">Primary</a>
                            </span>
                        </div> --}}
                        <h3 class="fw-bold">{{publication.titulo}}</h3>
                        <a href="/profile" class="link-unstyled">
                            <h6 class="text-muted d-inline f-space-2">Promocionado por <span>{{publication.vendedor}}</span></h6>
                        </a>
                    </header>
                    <div class="my-3">
                        <div>
                            <h6>Descripción del producto</h6>
                            {{!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, adipisci dignissimos veritatis quaerat cumque ratione animi dolorum nisi suscipit consequuntur nesciunt ex. Pariatur, ducimus facere. Modi nam, expedita alias soluta sapiente maiores repellat, impedit repudiandae quibusdam a, mollitia quo totam et. Ea non impedit tempore quibusdam enim fugiat, delectus, inventore qui at tenetur obcaecati quo quis consequuntur nisi explicabo! Delectus quidem molestias corporis aliquid!</p> --}}
                            <p> {{publication.descripcion}} </p>
                        </div>
                        <div>
                            <h6>Precio del producto</h6>
                            <p>
                                {{!-- <span class="mr-1"><del>$200</del></span> --}} {{!-- Descuento --}}
                                <span>${{publication.precio}}</span>
                            </p>
                        </div>
                        <div class="my-3">
                            <h6>Colores disponibles</h6>
                            <div>
                                <button type="button" class="btn btn-default btn-circle product-color color-yellow"><i class="fas fa-brush"></i></button>    
                                <button type="button" class="btn btn-default btn-circle product-color color-yellow"><i class="fas fa-brush"></i></button>
                                <button type="button" class="btn btn-default btn-circle product-color color-yellow"><i class="fas fa-brush"></i></button>
                                <button type="button" class="btn btn-default btn-circle product-color color-yellow"><i class="fas fa-brush"></i></button>
                                <button type="button" class="btn btn-default btn-circle product-color color-yellow"><i class="fas fa-brush"></i></button>
                            </div>
                        </div>
                        <div>
                            <h6>Talles disponibles</h6>
                            <div class="mb-2">
                                <a href="/profile" class="text-reset">
                                    <p class="d-inline">Guia de talles</p>
                                </a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">XXS</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">XS</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">S</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">M</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">L</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">XL</button>
                                <button type="button" class="btn btn-outline-dark btn-lg custom">XLL</button>
                            </div>
                        </div>
                    </div>
                    <hr class="d-md-block d-lg-none">
                </div>
            </div>
        </div>
    </section>
    <section class="container mb-3">
        <div>
            <h3 class="fw-bold">Preguntas y respuestas</h3>
            <div class="mb-3">
                <form>
                    <div class="row">
                        <label for="question">Preguntale a la tienda</label>
                        <div class="col">
                            <textarea class="form-control text-area rounded-0" name="question" id="question" placeholder="Ingrese su pregunta"></textarea>
                        </div>
                        <div class="col-auto">
                            {{!-- <div class="mb-3 d-grid gap-2"> --}}
                                <button type="submit" class="text-uppercase rounded-0 btn btn-dark" style="height: 100%; width: 100%;"><i class="fab fa-facebook-messenger"></i></button>
                            {{!-- </div> --}}
                        </div>
                    </div>
                </form>
            </div>
            <div>

                <div> {{!-- Esta seccion aparece si existen preguntas realizadas por el propio usuario --}}
                    <h5 class="text-muted">Tus preguntas</h5>
                    <div class="my-2">
                        <div>
                            <p>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illum quidem ducimus ut voluptatibus ipsam, eum obcaecati dicta nostrum adipisci illo ratione aut nihil voluptatem minus provident ab nulla ex?</p>
                        </div>
                        <div class="ms-4 text-muted">
                            <a href="/profile" class="link-unstyled">
                                <div class="montserrat">
                                    <span class="d-inline fw-bold">Nombre de la tienda</span>
                                    <span class="badge rounded-pill bg-secondary ms-1">Respuesta del vendedor</span>
                                </div>
                            </a>
                            <div class="d-flex">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt vitae doloribus excepturi, quaerat ducimus quod tenetur repellat deleniti totam a harum! Expedita temporibus ad dolorum culpa. Ipsam aliquam fugit facilis.<span class="ms-3">19/09/2021</span></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <h5 class="text-muted">Preguntas realizadas</h5>
                    {{!-- Plantilla de una pregunta --}}
                    <div class="my-2">
                        <div> {{!-- Pregunta del comprador --}}
                            <p>¿Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias illum quidem ducimus ut voluptatibus ipsam, eum obcaecati dicta nostrum adipisci illo ratione aut nihil voluptatem minus provident ab nulla ex?</p>
                        </div>
                        <div class="ms-4 text-muted"> {{!-- Respuesta del vendedor --}}
                            <a href="/profile" class="link-unstyled">
                                <div class="montserrat">
                                    <span class="d-inline fw-bold">Nombre de la tienda</span>
                                    <span class="badge rounded-pill bg-secondary ms-1">Respuesta del vendedor</span>
                                </div>
                            </a>
                            <div class="d-flex">
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt vitae doloribus excepturi, quaerat ducimus quod tenetur repellat deleniti totam a harum! Expedita temporibus ad dolorum culpa. Ipsam aliquam fugit facilis.<span class="ms-3">19/09/2021</span></p>
                            </div>
                        </div>
                    </div>

                    {{!-- Cuando la publicación no tiene preguntas --}}
                    <div class="my-2"> 
                        <div class="mt-2 ms-4 text-muted">
                            <p>Aún nadie ha realizado una pregunta sobre este producto, ¡se el primero en hacerlo!</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <div class="mb-3 d-flex justify-content-center">
            <div class="card mb-3 col-md-10 col-sm-9">
                <div class="row my-3 justify-content-center">
                    <div class="col-sm-12 col-md-3 jumbotron d-flex align-items-center justify-content-center">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Generic placeholder image" class="img-fluid rounded-circle img-thumbnail" style="width: 75%; z-index: 1">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h3 class="card-title text-center f-space-3">Sobre nosotros</h3>
                            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis animi dolores atque earum similique totam voluptate maxime non culpa, odio molestiae neque, at vitae officiis minima temporibus beatae! Architecto, impedit.</p>
                            <div class="d-flex">
                                <a href="/profile" class="link-unstyled ms-auto">
                                    <span class="card-subtitle d-inline text-muted carattere me-3">Nombre de la empresa</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <h4 class="fw-bold mb-3">Otras publicaciones del vendedor</h4>
            <div>
                <div class="row row-cols-lg-4 row-cols-sm-2 g-4">
                    <div class="col position-relative">
                        <div class="card">
                            <a href="/publication" class="link-unstyled">
                                <div class="imgbox">
                                    <img src="/img/testing/item3.jpg" class="card-img-top">
                                </div>
                            </a>
                            <div class="position-absolute p-1 mb-2">
                                <span class="badge rounded-pill bg-dark">NEW</span>
                                <span class="badge rounded-pill bg-dark">SALE</span>
                            </div>
                            <div class="container my-2 text-center">
                                <div>
                                    <a href="/publication" class="link-unstyled">
                                        <h6 class="card-title mb-1">Nombre de la publicación</h6>
                                    </a>
                                    <p><a href="/profile" class="f-space-1 text-muted link-unstyled">Nombre del vendedor</a></p>
                                    {{!-- DESCRIPCION (no es necesario) --}}
                                    {{!-- <p class="card-text">
                                        This is a longer card with supporting text below as a natural lead-in to
                                        additional content. This content is a little bit longer.
                                    </p> --}}
                                </div>
                                <div>
                
                                    {{!-- Cuando hay precio asignado aparece esto --}}
                                    <div class="d-flex">
                                        <h4>$250</h4>
                                        <h6 class="text-muted ms-1"><s>$500</s></h6>
                                    </div>
                
                                    {{!-- Cuando no hay precio asignado aparece esto --}}
                                    {{!-- <div class="mb-3 d-grid gap-2">
                                        <button class="btn btn-dark">Consultar precio</button>
                                    </div> --}}
                
                                </div>
                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{{>footer}}