body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.contenido{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    width: 75%;
}

.opcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    margin: 5px;
    text-decoration: none;
    text-align: center;
    font-family: arial;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 25px;
    color: white;
    background-color: #9b0e0e;
}

.boton:hover{
    color: #9b0e0e;
    background-color: #bc6355;
    text-decoration: none;
}