<nav class="navbar navbar bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/img/brand/Klouts_light.png" width="120" height="34" class="position-absolute top-50 start-50 translate-middle"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>