<nav class="navbar navbar bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/img/brand/Klouts_light.png" width="120" height="34" class="position-absolute top-50 start-50 translate-middle"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <% if (mail) {  %> 
            <a class="nav-link active position-absolute top-50 end-0 translate-middle-y" aria-current="page" href="/user/profile"> <%= mail.mail %>  </a>
            <% } %> 
            </li>
            <li class="nav-item">
            <% if (mail) {  %> 
            <a type="button" href="logout" class="nav-link active position-absolute top-0 end-50" aria-current="page">Logout</a>
            <% } %> 
            </li>
         </ul>
    </div>
  </nav>